<div class="dashboard-container full-height mar-32 pad-32">
    <div class="dashboard ">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Orders List">
                <app-orders></app-orders>
            </mat-tab>
            <mat-tab label="Items">
                <app-items></app-items>
            </mat-tab>
            <mat-tab label="Customers">
                <app-customers></app-customers>
            </mat-tab>
            <mat-tab label="New Order">
                <app-new-order></app-new-order>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>