<div class="auth-container full-height flex-centered-con pad-32">
    <div class="auth flex-col-centered-container">
        <mat-card class="flex-col-centered-container">
            <mat-tab-group mat-align-tabs="center">

                <!-- LOGIN FORM -->
                <mat-tab label="Login">
                    <div class="login-container flex-col-centered-con mar-vr-32">
                        <div class="login-form pad-vr-32">
                            <form class="flex-col-centered-container" [formGroup]="loginForm">
                                <div class="mar-vr-16">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Username</mat-label>
                                        <input matInput placeholder="username" formControlName="username">
                                    </mat-form-field>
                                </div>

                                <div class="mar-vr-16">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="password" formControlName="password">
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                        <div class="login-submit">
                            <button mat-raised-button color="primary" (click)="login()">Login</button>
                        </div>
                    </div>
                </mat-tab>

                <!-- REGISTRATION FORM -->
                <mat-tab label="Register">
                    <div class="registration-container flex-col-centered-con mar-vr-32">
                        <div class="registration-form pad-vr-32">
                            <form class="flex-col-centered-container" [formGroup]="registrationForm">
                                <div class="mar-vr-16">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Username</mat-label>
                                        <input matInput placeholder="username" formControlName="username">
                                    </mat-form-field>
                                </div>

                                <div class="mar-vr-16">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="email" formControlName="email">
                                    </mat-form-field>
                                </div>

                                <div class="mar-vr-16">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="password" formControlName="password">
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                        <div class="registration-submit">
                            <button mat-raised-button color="primary" (click)="register()">Register</button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>